.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.square {
  width: 50%;
  padding: 25px;
  border: 1px solid grey;
  border-radius: 2%;
  margin: 10px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.button {
  margin-right: 5px;
}
